* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: #ddd;
  background-color: #191919;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

main {
  margin-bottom: 2em;
  margin-left: calc(4.5rem * 3);
}

h1 {
  margin: .7em;
}

canvas {
  background-color: #111;
  max-width: 600px;
  width: 80vw;
}

aside {
  align-self: center;
}

.arrows-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.arrows-btn>div {
  display: flex;
}

button {
  cursor: pointer;
  user-select: none;
  background-color: #15ff04;
  width: 4.5rem;
  height: 4.5rem;
  margin: .2rem;
  border: none;
  opacity: .8;
  transition:
    .15s ease-in-out opacity,
    .1s scale;
}

button:hover {
  opacity: 1;
}

button:active {
  opacity: 1;
  scale: .95;
}

#score {
  font-size: 1.3em;
  margin: .5em;
  text-align: center;
}

@media screen and (max-width: 1090px) {
  main {
    margin-left: 0;
  }
}

@media screen and (max-width: 875px) {
  main {
    width: 100%;
  }
}